.msg {
    padding:5px;
    border:1px solid;
    border-radius: 5px;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}