<div class="container">
    Current selected class: {{ msgcls }}
    <h1 [class]="msgcls"> {{message}}</h1>
    <div class="notification">
      This container is
      <strong>centered</strong> on desktop.
    </div>
  
    <div [id]="msgcls">{{news}}</div>
  
    <input type="text" [value]="name" id="01" />
  
    <button (click)="changeColor('red')">Red</button>
    <button (click)="changeColor('green')">GREEN</button>
    <button (click)="changeColor('yellow')">YELLOW</button>
  
    <hr>
    <h3>Ng class: String </h3>
  
    <div class="msg" [ngClass]="msgcls">
      {{message}}
    </div>
  
    <hr>
    <h3>Ng Class: Object based</h3>
    <pre>
        {{classesSet |json}}
      </pre>
    <input type="checkbox" [(ngModel)]="classesSet.bold"> Bold
    <input type="checkbox" [(ngModel)]="classesSet.italic"> Italic
  
    <div class="msg" [ngClass]="classesSet">
      {{message}}
    </div>
    <hr>
    <h3>Ng Class: Array based </h3>
  
    <div class="msg" [ngClass]="classesArray">
      {{message}}
    </div>
  
    <hr>
    <h3>Class Property </h3>
  
    <div class="msg" [class.bold]="classesSet.bold" [class.italic]="classesSet.italic">
      {{message}}
    </div>
  
  </div>
  
  <div class="container">
    <h2>Ng Style</h2>
  
    <div [style.width]="'500px'" [style.backgroundColor]="msgcls">
      {{message}}
    </div>
  
  </div>
  <hr>
  <div class="container">
    <h2>Event Binding</h2>
    <button (click)="showAlert()"> Show Alert </button>
    <button (dblclick)="showByName('Indresh')">Say Hi to Indresh</button>
    <button (mouseover)="captureEvent($event)">Capture event</button>
    <button (click)="ctrlClick($event)">Click with CTRL</button>
  </div>
  