<!-- <app-header></app-header> -->

<!-- <app-propertyevent></app-propertyevent> -->

<!-- <app-custom-message *ngIf="message"
(onLoaded)="onMsgLoaded($event)"
(onClose)="closeit($event)"
  cls="success" [message]="message" [msv]="obj">
</app-custom-message> -->
<hr>
<input type="text" value="fsd">
<button (click)="doSave()">Save My Form</button>
<!-- <app-structural></app-structural> -->

<!-- Ng Content example -->
<app-toolbar>
  <h4 toolbar-title> Toolbar  </h4>
  <div toolbar-right-side>fdsfsf</div>
</app-toolbar>
<app-toolbar>
    <b toolbar-title> User Details </b>
  </app-toolbar>
 <!-- end of ng content example -->
<app-products></app-products>

<app-footer></app-footer>
